.item-count-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  .item-count {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    margin-bottom: 1.5rem;
    &__button {
      font-size: 30px;
      height: 64px;
      width: 64px;
      border: none;
      cursor: pointer;
      background-color: $dark_yellow;
      color: $white;
      border-radius: 50%;
      &:hover {
        background-color: $black;
        color: $white;
      }
      &:disabled,
      &[disabled] {
        background-color: gray;
        &:hover {
          color: white;
          cursor: auto;
        }
      }
    }
    &__container-quantity {
      background-color: $white;
      width: 200px;
      height: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      border-radius: 10px;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-evenly;
    .container-button {
      width: 40%;
    }
  }
}
