.nav-home{
    background-color: $black;
    color: $ligth_yellow;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    &__logo{
        margin-left: 30px;
    }
    &__container-links{
        display: none;
        a{
            text-decoration: none;
            color: $white;
        }
    }
    &__hamburger-menu{
        margin-right: 30px;
    }
}

@media screen and (min-width: 1024px) {
    .nav-home{
        &__hamburger-menu{
            display: none;
        }
        &__container-links{
            display: flex;
            width: 30%;
            justify-content: space-between;
            align-items: center;
            margin-right: 30px;
            a:hover{
                color: $ligth_yellow;
            }
        }
    }
    
}