/* ESTILOS A INDEX */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #161a1d;
}

.nav-home {
  background-color: #161a1d;
  color: #fff3b0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
}

.nav-home a:link,
.nav-home a:visited {
  text-decoration: none;
  color: #fff3b0;
}

.nav-home a:hover {
  color: #e09f3e;
}

.nav-home__logo {
  margin-left: 30px;
}

.nav-home__container-links {
  display: none;
}

.nav-home__container-links a {
  text-decoration: none;
  color: #ffffff;
}

.nav-home__hamburger-menu {
  margin-right: 30px;
}

@media screen and (min-width: 1024px) {
  .nav-home__hamburger-menu {
    display: none;
  }
  .nav-home__container-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .nav-home__container-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px;
    width: 70%;
  }
  .nav-home__container-links a:hover {
    color: #fff3b0;
  }
}

.cart-widget {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.item-count-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 20rem;
}

.item-count-container .item-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #161a1d;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 5rem;
}

.item-count-container .item-count__button {
  font-size: 30px;
  height: 80%;
  width: 20%;
  border: none;
  cursor: pointer;
  background-color: #e09f3e;
  color: #ffffff;
}

.item-count-container .item-count__button:hover {
  background-color: #fff3b0;
  color: #161a1d;
}

.item-count-container .item-count__button:disabled, .item-count-container .item-count__button[disabled] {
  background-color: gray;
}

.item-count-container .item-count__button:disabled:hover, .item-count-container .item-count__button[disabled]:hover {
  color: white;
  cursor: auto;
}

.item-count-container .item-count__container-quantity {
  background-color: #ffffff;
  width: 40%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
}

.item-count-container .button-buy {
  padding: 2rem 3rem;
  background-color: #161a1d;
  color: #ffffff;
  border: none;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.item-count-container .button-buy:hover {
  color: #161a1d;
  background-color: #fff3b0;
}

.item-count-container .button-buy:disabled, .item-count-container .button-buy[disabled] {
  background-color: gray;
}

.item-count-container .button-buy:disabled:hover, .item-count-container .button-buy[disabled]:hover {
  color: white;
  cursor: auto;
}

.item-count-container .button-on-add {
  cursor: pointer;
  background-color: #e09f3e;
  color: #ffffff;
  border: none;
  height: 4rem;
  font-weight: 700;
  font-size: 1rem;
}

.item-count-container .button-on-add:hover {
  color: #161a1d;
  background-color: #fff3b0;
}

.product-resume-container {
  background-color: beige;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 1.5rem;
}

.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-detail {
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-detail__img {
  width: 30rem;
  height: 20rem;
}

.item-detail__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.item-detail__text {
  padding-left: 2rem;
}

.item-detail__text p {
  margin-bottom: 2rem;
}

.item-detail__text__name {
  font-weight: 700;
  font-size: 2rem;
}

.item-detail__text__price {
  font-weight: 700;
  font-size: 1.3rem;
}

.item-detail__text__description {
  width: 50%;
}
/*# sourceMappingURL=index.css.map */